body {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

.logo {
  float: left;
  margin-left: 100px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

nav {
  float: right;
  margin-right: 100px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style-type: none;
  padding: 0 20px 0 15px;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}

nav a {
  text-decoration: none;
  color: #333;
}

.mobile-expander {
  display: none;
}

.mobile-explain {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 50px;
  padding: 7px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  text-align: center;
  box-shadow: 3px 3px 2px #808080;
}

.go-away {
  height: 0;
  width: 0;
}

@media(max-width: 600px) {
  nav {
    float: left;
  }

  nav ul {
    display: none;
  }

  .mobile-expander {
    display: block;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    transform: rotate(90deg);
    border-radius: 7px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2rem;
    padding: 5px;
    }

  .mobile-expander:active {
    transform: rotate(90deg) scale(0.90);
  }

  .expand ul {
    display: block;
    float: left;
    width: 60%;
  }
  
  .expand li {
    display: block;
    width: 100%;
  }
}

